@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(180deg, #63dad2, #4284e2);
    font-family: "Poppins", sans-serif;
    vertical-align: middle;
}

.container {
    background: white;
    width: 500px;
    margin: 10vh auto;
    border-radius: 10px;
    padding-bottom: 30px;
}

h1 {
    font-size: 2rem;
    padding: 2rem 1rem;
}

form {
    display: flex;    
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    justify-content: space-between;
}

form input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid gray;
    border-radius: 3px;
    outline: none;
    background: white;
}

form button {
    flex: 1;
    color: #8e49e8;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 5px;
    border: none;
    font-size: 3rem;
}



form button:hover {
    background: #8e49e8;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    width: 100%;
    list-style: none; /*cancel the little dots of the list */
}

.todo {
    margin: 1rem;
    background: #f2f2f2;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.7s ease;
}

.todo li {
    flex: 1; /* moving check and trash icon to the right */
}

.trash-button,
.complete-button {
    color: white;
    background: #db5039;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-button {
    color: white;
    background: #31c521;
}

.trash-button:hover {
    background: white;
    color: #db5039;
}

.complete-button:hover {
    background: #7cff6d;
    color: #31c521;
}

.todo-item {
    padding: 0rem 1rem;
}

.todo:hover {
    cursor: pointer;
    background: #63dad2;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0rem 1rem;
}

.pending-counter{
    grid-column: 1/3;
    font-size: 1rem;
    align-self: center;
}

.clear-all-button {
    grid-column: 4;
    font-size: 1.1rem;
    background: #8e49e8;
    color: white;
    padding: 0.5rem;
    width: 100px;
    border: none;
    border-radius: 5px;
    justify-self: end;
    font-family: "Poppins", sans-serif;
    display: none;
}

.clear-all-button:hover {
    background: #8e49e8a2;
    color: #8e49e8;
    cursor: pointer;
}

.filter-todo{
    grid-column: 3;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    background: #8e49e8;
    color: white;
    max-width: 145px;
    display: none;
}

.filter-todo:hover {
    background: #8e49e8a2;
    color: #8e49e8;
    cursor: pointer;
}

select > option {
    background: #8e49e8;
    color: white;
}