* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(180deg, #63dad2, #4d8ce4);
    font-family: "Poppins", sans-serif;
    vertical-align: middle;
}

header {
    font-size: 1.5rem;
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    outline: none;
    background: white;
}

form button {
    color: #8e49e8;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #8e49e8;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none; /*cancel the little dots of the list */
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.todo li {
    flex: 1; /* moving check and trash icon to the right */
}

.trash-button, .complete-button {
    color: white;
    background: #db5039;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-button {
    color: white;
    background: #31c521;
}

.trash-button:hover {
    background: white;
    color: #db5039;
}

.complete-button:hover {
    background: #7cff6d;
    color: #31c521;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}